:root {
  --branding-color: rgb(63, 73, 134);
  --secondary-color: #c7d0e0;
  --heading-font-family: "Ubuntu", sans-serif;
  --default-font-family: Arial;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.img-fluid {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.content-container {
  padding: 10px 60px;
  text-align: center;
}

.content h1 {
  font-size: 45px;
  line-height: 60px;
  color: var(--branding-color);
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 20px;
}

.introduction {
  text-align: left;
  margin-left: 15px;
}

.btn-branding {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-family: var(--heading-font-family);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
  display: inline-block;
  width: 200px; /* Adjust as needed */
  text-align: center;
}

.btn:hover {
  background: var(--branding-color);
  color: rgb(255, 255, 255);
}

.center-button {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}

nav {
  padding: 40px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 100px;
}

nav li {
  list-style: none;
  line-height: 40px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
  font-weight: bold;
}

.footer-made-by {
  color: rgba(39, 33, 66, 0.4);
}

.footer-made-by-links {
  color: rgba(63, 73, 134, 0.9);
  text-decoration: none;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 52px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  p {
    font-size: 12px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 14px;
  }
}
